Source: galliumos-haswell
Section: admin
Priority: required
Maintainer: Hugh Greenberg <hugh@galliumos.org>
XSBC-Original-Maintainer: Hugh Greenberg <hugh@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-haswell
Architecture: all
Priority: required
Depends: galliumos-base
Provides: galliumos-device
Conflicts: galliumos-broadwell, galliumos-sandy, galliumos-baytrail
Replaces: galliumos-broadwell, galliumos-sandy, galliumos-baytrail
Description: Gallium OS system files for Haswell ChromeOS devices
 This package contains Haswell specific files for GalliumOS
