Source: galliumos-haswell
Section: admin
Priority: required
Maintainer: GalliumOS <galliumos@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-haswell
Architecture: all
Priority: required
Depends: galliumos-base
Provides: galliumos-device
Conflicts: galliumos-broadwell, galliumos-sandy, galliumos-baytrail
Replaces: galliumos-broadwell, galliumos-sandy, galliumos-baytrail
Description: GalliumOS Haswell customizations
 This package contains Haswell-specific files for GalliumOS
